{% extends "base.html" %}

{% block content %}
    <h2>{{  item.name }}</h2>

    {% if item.photo %}
        <img src="{{ item.photo.url }}" style="max-width: 300px;"/>
    {% endif %}

    가격: {{ item.price }}원
    남은 수량: {{ item.leftover }}

    {%  if item.desc %}
    <p>제품 설명: {{  item.desc }} </p>
    {% endif %}

    <a href="{% url "detail_maker" item.maker.pk %}">거래처: {{ item.maker }}</a>
    <hr/>

    <a href="{% url "list_item" %}">목록</a>
    <a href="{% url "update_item" item.pk %}">수정</a>


    <form action="/item/delete/{{ item.id }}/" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
    </form>

{% endblock %}
